@import "./variables.scss";

.title {
  text-align: center;
  color: red;
}

.title_area {
  background-color: rgb(212, 187, 155);
  height: 200px;
  width: $boardGridSize;
}

.center_child {
  display: flex; //center the child
  align-items: center;
  justify-content: center;
}

.kills,
.fleet {
  background-color: rgb(21, 148, 80);
  height: $boardGridSize;
}

.container {
  max-width: 100%;
}
