@import "./variables.scss";

.tile__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.tile {
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 0 10px 5px rgb(132, 187, 255) inset;

  height: calc($boardSize/10);
  width: calc($boardSize/10);
  background-color: $tileColor;
}
